
#page {
	width: 1300px;
	height: 1000px;
	align-content: center;
	margin: 0 auto;
}

.main-container {
	font-family: 'Aerial',sans-serif;
	font-size: 1.125em;   /*18 pixel = 1.125 em */
}
  
  /* Style the header with a blue background width is default 100%*/

.header {
    overflow: hidden;
		background-color: #1e90ff;
}
	
/* logo within the header */
.logo {
	padding-left: 2%; 
	padding-top: 2%; 
	width: 100%
}
  /* Style the header links */
.header-right a {
   float: left;
	padding-right:.750em;
    color: #ffffff;
    text-align: center;
		padding: .750em;  /* space between the two links */
    text-decoration: none; /* Remove the default underline from the link tag */
    font-size: 1.125em;     /* Using the font of 18 pixels */
		border-radius: 0.375em;  /* making the corners of the links round by 6 pixels */
}
  
  /* Change the background and text color on mouse-over */
  .header-right a:hover {
    background-color: #ffffff; /* Setting the background color to white on mouse over */
    color: #1e90ff; /* On mouse over changing the text color to blue */
  }

	/* Style the logo link */
	
  .header img {
		width: 30%;
		height: 100px;
    margin: 0 auto;
  }
  
  /* Float the link section to the right */
  .header-right {
		width: 50%;
		margin-top: 3%;
		float: right;
  }

.main-body {
	text-align: center;
	overflow: auto;
	
}

.main-body img{
	width: 100%;
}

/*width is same as that of parent container 100% = 1300 px*/
#wrapper {
	padding-top: 2%;    /*padding of two percent */
	align-content: center;
	width: 100%;
	height:100%;	
	
}
/*the text takes the width of 55% of parent container= 1300 pixels */
.leftside{
	float:left;
	text-align: left;
	/* 715/1300 px */
	width:55%;
}
/*the image takes 35% of parent container . This provides an oxygen space of 15% to the overall container*/
.sidebar{
	float:right;
	width: 35%;
	display: inline-block;
	
}

h2{
	background-color:orange;
	text-align:center;
}
/*assigning the same width as that of parent 1300 pixels*/
.row {
	width: 100%;
	display: inline-block
}
/*the columns are each of 29% width with padding of 2%.This sums up to 100 % of parent container */
.column {
	width: 29%;
	float:left;
	padding:2%;
}
.column {
	width: 29%;
	float:left;
	padding:2%;
}
.column {
	width: 29%;
	float:left;
	padding:2%;
}


  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

.footer {
	right: 0;
	left: 0;
	padding: 1rem;
	background-color: #1e90ff;
	text-align: center;
	color: #ffff;
  }





















